-content_for :header do
  %script{src: 'https://maps.googleapis.com/maps/api/js?v=3.exp'}
  -#google.maps.event.addDomListener window, "load", initialize

%div{'ng-app' => 'problemApp', 'ng-controller' => 'IndexProblemController'}
  .row
    .col-sm-8
      #map-canvas
    .col-sm-4
      .row
        .col-sm-4{class: 'col-sm-2 control-label'} Provinsi
        .col-sm-8
          = select_tag :province_id, {}, {'ng-model' => 'filter.province',
            'ng-options' => 'province.name for province in provinces track by province.id', 'ng-change' => 'getKabupatens(filter.province)',
            class: 'form-control'}
      .row.location-filter
        .col-sm-4{class: 'col-sm-2 control-label'} Kabupaten
        .col-sm-8
          = select_tag :kabupaten_id, {}, {'ng-model' => 'filter.kabupaten',
            'ng-options' => 'kabupaten.name for kabupaten in kabupatens track by kabupaten.id', 'ng-change' => 'getKecamatans(filter.province, filter.kabupaten)',
            class: 'form-control'}
      .row.location-filter
        .col-sm-4{class: 'col-sm-2 control-label'} Kecamatan
        .col-sm-8
          = select_tag :kecamatan_id, {}, {'ng-model' => 'filter.kecamatan',
            'ng-options' => 'kecamatan.name for kecamatan in kecamatans track by kecamatan.id', 'ng-change' => 'getKelurahans(filter.province, filter.kabupaten, filter.kecamatan)',
            class: 'form-control'}
      .row.location-filter
        .col-sm-4{class: 'col-sm-2 control-label'} Kelurahan
        .col-sm-8
          = select_tag :kecamatan_id, {}, {'ng-model' => 'filter.kelurahan',
            'ng-options' => 'kelurahan.name for kelurahan in kelurahans track by kelurahan.id', class: 'form-control'}
      .row.location-filter
        .col-sm-4{class: 'col-sm-2 control-label'} Kategori
        .col-sm-8
          = select_tag :category_id, {}, {'ng-model' => 'filter.category',
            'ng-options' => 'category.name for category in categories track by category.id',
            class: 'form-control'}

      .row.location-filter
        .col-sm-6.col-sm-offset-4
          = button_tag :Filter, 'class' => 'btn btn-primary', 'ng-click' => 'filterProblems(filter)'

  .row
    .col-sm-12
      .pull-right
        = link_to new_problem_path, class: 'btn btn-primary' do
          %span.glyphicon.glyphicon-plus
          New Problem
  .row
    .col-sm-12{'ng-if' => 'total_pages > 1'}
      %a.btn.btn-info.btn-sm{"ng-click" => 'fetchPrevPage()', "ng-if" => 'current_page > 1'}
        %span.glyphicon.glyphicon-chevron-left
      Page {{current_page}}/{{total_pages}}
      %a.btn.btn-info.btn-sm{"ng-click" => 'fetchNextPage()', "ng-if" => 'current_page < total_pages'}
        %span.glyphicon.glyphicon-chevron-right
  .row{style: 'margin-top:20px'}
    .col-sm-12
      %ul.media-list
        %li.media{'ng-repeat' => 'problem in detailedProblems'}
          .pull-left.vote-counter
            %b
              {{problem.up_vote - problem.down_vote}}
              %br
              votes
          %a.pull-left
            %img.media-object.thumbnail{'ng-src' => '{{problem.images[0]}}', 'ng-if' => 'problem.images.length > 0'}
            %img.media-object.thumbnail{'src' => image_path("404.png"), 'ng-if' => '!problem.images'}
          .media-body
            -#%td= link_to problem.title, problem}}
            %h4
              %a{'ng-href'=>'{{problem.url}}'}
                {{problem.title}}
            %p.summary
              "{{problem.summary}}"
            %b Category:
            {{problem.category_name}}
            {{problem.urgency_name}}
            %br
            %b Cause:
            {{problem.cause}}
            %br
            %b Symptom:
            {{problem.symptom}}
            %br
            %b Effects:
            {{problem.effect}}
            %br
            %b Lokasi:
            {{problem.kelurahan_name}}, {{problem.kecamatan_name}}, {{problem.kabupaten_name}}, {{problem.province_name}}
            %br
            %b Dilaporkan oleh:
            {{problem.reported_by_name}}