-content_for :header do
  %script{src: 'https://maps.googleapis.com/maps/api/js?v=3.exp'}
  -#google.maps.event.addDomListener window, "load", initialize

%div{'ng-app' => 'problemApp', 'ng-controller' => 'IndexProblemController as vm'}
  .row
    .col-sm-9
      #map-canvas
    .col-sm-3{'ng-cloak' => true}
      .row
        .col-sm-4{class: 'col-sm-2 control-label'} Provinsi
        .col-sm-8
          = select_tag :province_id, {}, {'ng-model' => 'vm.filter.province',
            'ng-options' => 'province.name for province in vm.provinces track by province.id', 'ng-change' => 'vm.getKabupatens(vm.filter.province)',
            class: 'form-control'}
      .row.location-filter
        .col-sm-4{class: 'col-sm-2 control-label'} Kabupaten
        .col-sm-8
          = select_tag :kabupaten_id, {}, {'ng-model' => 'vm.filter.kabupaten',
            'ng-options' => 'kabupaten.name for kabupaten in vm.kabupatens track by kabupaten.id', 'ng-change' => 'vm.getKecamatans(vm.filter.province, vm.filter.kabupaten)',
            class: 'form-control'}
      .row.location-filter
        .col-sm-4{class: 'col-sm-2 control-label'} Kecamatan
        .col-sm-8
          = select_tag :kecamatan_id, {}, {'ng-model' => 'vm.filter.kecamatan',
            'ng-options' => 'kecamatan.name for kecamatan in vm.kecamatans track by kecamatan.id', 'ng-change' => 'vm.getKelurahans(vm.filter.province, vm.filter.kabupaten, vm.filter.kecamatan)',
            class: 'form-control'}
      .row.location-filter
        .col-sm-4{class: 'col-sm-2 control-label'} Kelurahan
        .col-sm-8
          = select_tag :kecamatan_id, {}, {'ng-model' => 'vm.filter.kelurahan',
            'ng-options' => 'kelurahan.name for kelurahan in vm.kelurahans track by kelurahan.id', class: 'form-control'}
      .row.location-filter
        .col-sm-4{class: 'col-sm-2 control-label'} Kategori
        .col-sm-8
          = select_tag :category_id, {}, {'ng-model' => 'vm.filter.category',
            'ng-options' => 'category.name for category in vm.categories track by category.id',
            class: 'form-control'}

      .row.location-filter
        .col-sm-6.col-sm-offset-4
          = button_tag :Filter, 'class' => 'btn btn-primary', 'ng-click' => 'vm.filterProblems(vm.filter)'

  .row
    .col-sm-12
      .pull-right
        = link_to new_problem_path, class: 'btn btn-primary' do
          %span.glyphicon.glyphicon-plus
          New Problem
  .row{'ng-cloak' => true}
    .col-sm-12
      %ul.nav.nav-pills.pull-left
        %li{'ng-class' => "vm.filter.order == -1 ? 'active' : ''"}
          %a.thumb{'ng-click' => "vm.orderProblems(-1)"} Hot
        %li{'ng-class' => "vm.filter.order == 'popular' ? 'active' : ''"}
          %a.thumb{'ng-click' => "vm.orderProblems('popular')"} Popular
        %li{'ng-class' => "vm.filter.order == 'latest' ? 'active' : ''"}
          %a.thumb{'ng-click' => "vm.orderProblems('latest')"} Latest
      .pager{'ng-if' => 'vm.total_pages > 1', style: 'margin:0px'}
        %a.btn.btn-success.btn-sm{"ng-click" => 'vm.fetchPrevPage()', "ng-if" => 'vm.current_page > 1', style: 'margin-right:5px'}
          %span.glyphicon.glyphicon-chevron-left
          Prev
        Page {{vm.current_page}} / {{vm.total_pages}}
        %a.btn.btn-success.btn-sm{"ng-click" => 'vm.fetchNextPage()', "ng-if" => 'vm.current_page < vm.total_pages', style: 'margin-left:5px'}
          Next
          %span.glyphicon.glyphicon-chevron-right
  .row{style: 'margin-top:20px', 'ng-cloak' => true}
    .col-sm-12
      %ul.media-list
        %li.media{'ng-repeat' => 'problem in vm.detailedProblems'}
          .pull-left.vote-counter
            %b
              {{problem.up_vote - problem.down_vote}}
              %br
              votes
          %a.pull-left
            %img.media-object.thumbnail{'ng-src' => '{{problem.images[0]}}', 'ng-if' => 'problem.images.length > 0'}
            %img.media-object.thumbnail{'src' => image_path("404.png"), 'ng-if' => '!problem.images || problem.images.length == 0'}
          .media-body
            .col-sm-12
              %h4
                %a{'ng-href'=>'{{problem.url}}'}
                  {{problem.title}}
            .col-sm-8
              %p.summary
                "{{problem.summary | limitTo:800}}"
            .col-sm-4
              .col-sm-3
                %b Category
              .col-sm-9
                {{problem.category_name}}
              .col-sm-3
                %b Urgency
              .col-sm-9
                .progress
                  .progress-bar.progress-bar-success.progress-bar-striped.active{"aria-valuemax" => "5", "aria-valuemin" => "0", "aria-valuenow" => "{{vm.problem.urgency + 1}}",
                    :role => "progressbar", 'ng-style' => "{'width': ((problem.urgency + 1) * 100.0 / 5.0) + '%'}"}
              .col-sm-3
                %b Location
              .col-sm-9
                {{problem.kelurahan_name}}, {{problem.kecamatan_name}}, {{problem.kabupaten_name}}, {{problem.province_name}}
              .col-sm-3
                %b Reporter
              .col-sm-9
                {{problem.reported_by_name}}
            .clearfix